<!doctype html>
<html>
    <body>
        <form action="/validate" method="post">
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" />

            <label for="password">Password:</label>
            <input id="password" type="text" name="password" />

            <label for="verify">Verify Password:</label>
            <input id="verify" type="text" name="verify" />

            <label for="email">Email (optional):</label>
             <input id="email" type="text" name="email" />

            <input type="submit" />
        </form>
    </body>
</html>