<!DOCTYPE html>
<html>
    <head>
        <title>User Signup</title>
        

    </head>
    <style>
        .error { color: red; }
    </style>
    <body>
        <h1><strong>Signup</strong></h1>
        <form action="/validate" method="POST">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label>User Name</label>
                        </td>
                        <td>
                            <input type="text" name="user_name" value='{{ user_name }}' />
                            <span class='error'> {{user_name_error}} </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Password</label>
                        </td>
                        <td>
                            <input name="password" type="password" />
                            <span class = 'error'> {{password_error}} </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password_verify">Verify Password</label>
                        </td>
                        <td>
                            <input name="password_verify" type="password" />
                            <span class ='error'> {{verify_password_error}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email">Email (Optional)</label>
                        </td>
                        <td>
                            <input name="email" type="text" value='{{ email }}' />
                            <span class='error'>{{email_error}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input name="submit" type="submit" value="Submit" />
        </form>
    </body>
</html>
Collapse



